body {
  background-color: black;
}

.card-img-top {
  width: 300px;
}

.asso {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}

.card-group {
  text-align: center;
  width: 29%;
}

.card {
  width: 100%;
  align-items: center;
}

.footer {
  border-top: 2px rgb(210, 210, 210) solid;
  color: gray;
}

.card-title {
  text-transform: uppercase;
}

.collapse {
  display: flex;
  justify-content: flex-end;
}

.navbar {
  margin-bottom: 20px;
}

.card-title {
  text-decoration: none;
  color: rgb(1, 1, 118);
}

.title {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.asso-card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.asso-img {
  width: 250px;
  background-color: aliceblue;
}

.slogan {
  color: aliceblue;
}

.asso-desc {
  color: white;
  width: 33%;
  text-align: center;
  margin-top: 20px;
}

.m-object {
  color: white;
}

.asso-mes-content {
  text-align: center;
  color: aliceblue;
  border-bottom: 2px aliceblue solid;
  padding: 5px;
}